{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Output
{% endblock %}

{% block content %}

<h3>Query Output</h3>

<textarea id="query">
    {{result}}
</textarea>
<form action="{{ url_for('home') }}">
    <input type="submit" value="Execute another query" />
</form>
<script>
    var editor = CodeMirror.fromTextArea(document.getElementById("query"), {
        // value: "CREATE TABLE Persons (ID int NOT NULL,Name varchar(255),Age int);",
        mode: "sql",
        matchBrackets: true,
        lineNumbers: true,
    });
    console.log(editor);
</script>
{% endblock %}
